<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="header">
      <h1><%= article.title %></h1>
      <p><%= article.createdAt %></p>
    </div>
    <div class="content">
      <div class="ar-detail">
        <p id="ar-content"><%= article.body %></p>
      </div>

      <script>
        el = document.getElementById('ar-content')
        let content = el.innerHTML
        el.innerHTML = marked.parse(content)
      </script>

      <a class="delete" data-doc="<%= article.id %>">Delete article</a>
    </div>
    <%- include('./partials/footer.ejs') %>

    <script>
      const trash = document.querySelector('a.delete')

      trash.addEventListener('click', (e) => {
        const endpoint = `/articles/${trash.dataset.doc}`

        fetch(endpoint, {
          method: 'DELETE',
        })
          .then((response) => response.json())
          .then((data) => {
            window.location.href = data.redirect
          })
          .catch((err) => {
            console.log(err)
          })
      })
    </script>
  </body>
</html>
