<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <div class="header">
      <h1>Take a sip...</h1>
      <h2>...and start coding</h2>
    </div>
    <div class="content">
      <div class="articles">
        <% if (articles.length > 0){ %> <% articles.forEach((article) =>{%>
        <div class="article">
          <a class="ar-link" href="/articles/<%= article.id %>">
            <h3 class ar-title><%= article.title %></h3>
            <p class ar-title><%= article.snippet %></p>
          </a>
        </div>
        <% }) %> <%} else {%>
        <p>No articles available.</p>

        <% } %>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
