<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <div class="header">
      <h1>Log In</h1>
      <h2>please fill the form below to log in into your account</h2>
    </div>
    <div class="content">
      <form class="form ar-form" action="/auth/login" method="post">
        <label for="email">Email</label>
        <input
          class="form-input ar-form-input email-input"
          type="text"
          name="email"
          required
        />
        <% if(errors.email) { %>
        <div class="error-alert"><%= errors.email %></div>
        <% } %>
        <label for="password">Password</label>
        <input
          class="form-input ar-form-input password-input"
          type="password"
          name="password"
          required
        />
        <% if(errors.password){ %>
        <div class="error-alert"><%= errors.password %></div>
        <% } %>
        <button class="submit-btn">Submit</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
